button {
  border-radius: 5px;
}

.buttonNewGame {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttonShowAllScores {
  display: block;
  margin-right: var(--default-interval);
}

.buttonShowMyScores {
  display: block;
}

.sortByDate,
.sortByScore {
  font-size: 7px;
  padding: 2px 2px 2px 2px;
}

.buttonNewGame {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--default-interval);
}

.buttonSignIn {
  margin-right: var(--default-interval);
}

.buttonSignUp {
  margin-right: var(--default-interval);
}

.buttonLogOut {
  margin-right: var(--default-interval);
}

.buttonQuestionSign {
  color: goldenrod;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-weight: 700;
}

.buttonQuestionSign:hover,
.buttonQuestionSign:focus {
  border: none;
  background-color: transparent;
  color: purple;
}
