button {
  border-radius: 5px;
}

.buttonNewGame {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttonShowAllScores {
  display: block;
  margin-right: var(--default-interval);
}

.buttonShowMyScores {
  display: block;
}

.buttonNewGame {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--default-interval);
}

.buttonSignIn {
  margin-right: var(--default-interval);
}

.buttonSignUp {
  margin-right: var(--default-interval);
}

.buttonLogOut {
  margin-right: var(--default-interval);
}

.loadMore {
  background-color: aqua;
  font-size: 14px;
  min-width: 100px;
  padding-top: 10px;
  padding-bottom: 8px;
}

.loadMore:hover,
.loadMore:focus {
  background-color: chartreuse;
}

.back {
  background-color: green;
  font-size: 10px;
  min-width: 60px;
  padding-top: 8px;
  padding-bottom: 6px;
  margin-left: 50px;
  color: #ffffff;
  margin-right: 30px;
}

.back:hover,
.back:focus {
  background-color: yellow;
  color: #000000;
}

.buttonQuestionSign {
  color: blue;
  background-color: greenyellow;
  border: none;
  text-decoration: underline;
  font-weight: 700;
}

.buttonQuestionSign:hover,
.buttonQuestionSign:focus {
  border: none;
  background-color: greenyellow;
  color: brown;
}
