button {
  cursor: pointer;
  border: 2px solid var(--default-color);
  background-color: var(--background-color-button);
  margin-bottom: 5px;
  border-radius: 5px;
}

button:hover,
button:focus {
  background-color: #006400;
  color: #ffff00;
  border: 2px solid #ff0000;
  outline: none;
}

.buttonNewGame {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttonShowAllScores {
  display: block;
  margin-right: var(--default-interval);
}

.buttonShowMyScores {
  display: block;
}

.sortByDate,
.sortByScore {
  font-size: 7px;
  padding: 2px 2px 2px 2px;

  @media screen and (min-width: 768px) {
    font-size: var(--min-font-size);
  }
}

.buttonNewGame {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--default-interval);
}

.signIn,
.signUp {
  margin-right: var(--default-interval);
}

.logOut {
  margin-right: 0px;
}

.buttonQuestionSign {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-weight: inherit;
  color: #ff6347;
}

.buttonQuestionSign:hover,
.buttonQuestionSign:focus {
  background-color: transparent;
  border: none;
  color: #9acd32;
}
