.item {
  position: relative;
  flex-basis: calc((100% - 3 * 10px) / 4);
  height: 150px;
  transition: 0.1s ease-in-out;
  background-color: aqua;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-image: url(../../images/shirt.jpg);
  background-size: cover;
}

.rotatedItem {
  background-image: unset;
  background-color: yellow;
  rotate: 1 2 1 360deg;
}

.score {
  color: green;
  font-size: 50px;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}
