.error {
  background-color: #ffff00;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
}

.errorMessage {
  color: var(--error-color);
  text-align: center;
}
