.cardPage {
  height: 100vh;
  min-height: 480px;
  width: 100vw;
  background-image: url(../../images/cards-page-bg-mobile.jpg);
  background-size: cover;

  @media screen and (min-width: 768px) {
    background-image: url(../../images/cards-page-bg-tablet.jpg);
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../../images/cards-page-bg.jpg);
  }
}

@keyframes place {
  0% {
    top: -100%;
    left: -100%;
  }

  20% {
    top: 50%;
    left: 50%;
    box-shadow: 15px 15px 15px #ff0000, -15px 15px 15px #ff0000,
      -15px -15px 15px #ff0000, 15px -15px 15px #ff0000;
    transform: translate(-50%, -50%);
  }

  80% {
    top: 50%;
    left: 50%;
    box-shadow: 15px 15px 15px #ff0000, -15px 15px 15px #ff0000,
      -15px -15px 15px #ff0000, 15px -15px 15px #ff0000;
    transform: translate(-50%, -50%);
  }

  100% {
    top: -200%;
    left: 195%;
  }
}

.gameOver {
  width: 230px;
  color: #ff0000;

  background-color: #adff2f;
  border-radius: 10px;
  position: absolute;
  animation-name: place;
  animation-duration: 4000ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  padding-left: var(--default-interval);
  padding-right: var(--default-interval);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.totalScore {
  text-align: center;
  margin-bottom: var(--default-interval);
}

.finalScore {
  width: 100%;
  text-align: center;
}

.buttonsShowResults {
  display: flex;
  justify-content: flex-start;
}
