.cardPage {
  background-color: palegoldenrod;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100vh;
  background-color: palegoldenrod;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: var(--default-interval);
  padding-right: var(--default-interval);
  border: 1px solid red;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

@keyframes place {
  0% {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.gameOver {
  width: 250px;
  color: red;
  font-size: 20px;
  font-weight: 600;
  background-color: greenyellow;
  border-radius: 10px;
  position: absolute;
  animation-name: place;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  padding-left: var(--default-interval);
  padding-right: var(--default-interval);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    font-size: 30px;
    font-weight: 800;
    width: 400px;
  }
}

.error {
  color: red;
  font-size: 20px;
  font-weight: 600;
  display: block;
  text-align: center;
}

.totalScore {
  color: blue;
  font-weight: 600;
  text-align: center;
  font-size: 10px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    font-weight: 800;
  }
}

.finalScore {
  width: 100%;
  text-align: center;
}

.buttonsShowResults {
  display: flex;
  justify-content: flex-start;
}
