.cardList {
  width: 100%;
  max-width: 480px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  gap: var(--default-interval);

  @media screen and (min-width: 768px) {
    max-width: 230px;
  }
}
