.header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.userName {
  display: inline;
  font-size: 15px;
  color: goldenrod;
  font-weight: 700;
  margin-right: 10px;
}
