.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: 0, 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  border-radius: 10px;
  width: 300px;
  background-color: greenyellow;
  padding-bottom: 5px;
}

.closeModalIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: blue;
}

.closeModalIcon:hover,
.closeModalIcon:focus {
  color: red;
  cursor: pointer;
}
