.wrapperScores {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
}

.highlight {
  font-size: var(--middle-font-size);
  text-align: center;
  text-transform: uppercase;
  color: var(--default-color);
  margin-bottom: var(--default-interval);
}

.listButtonsSort {
  display: flex;
  justify-content: space-around;
}

.scoresHistory {
  display: block;
  font-size: inherit;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  overflow-y: scroll;
  height: 150px;

  @media screen and (min-width: 768px) {
    height: 250px;
  }
}

.scoresHistory thead {
  background-color: #00ffff;
  position: sticky;
  top: 0;
}

.scoresHistory td,
.scoresHistory th,
.scoresHistory thead {
  border: 1px solid #000000;
}

td,
th {
  padding: 2px 10px;
  text-align: center;
}

.pair {
  background-color: #ffe4c4;
}

.odd {
  background-color: #deb887;
}
