.form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 20px;
}

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  font-size: 12px;
  font-weight: 500;
  color: goldenrod;
}

.submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttonHide {
  position: absolute;
  top: 20px;
  right: 5px;
}

.buttonHide:hover {
  cursor: pointer;
}

.question {
  font-size: 10px;
  text-align: center;
  color: goldenrod;
}

.errorValidation {
  color: red;
}
