.form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 20px;
}

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--default-interval);
  position: relative;
}

.submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttonHide {
  position: absolute;
  top: 20px;
  right: 5px;

  @media screen and (min-width: 768px) {
    top: 23px;
    right: 5px;
  }
}

.buttonHide:hover {
  cursor: pointer;
}

.question {
  text-align: center;
}

.errorValidation {
  color: var(--error-color);
}
