.homePage {
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  height: 100vh;
  width: 100vw;
}

.container {
  max-width: 480px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.moveToCards {
  font-size: 18px;
  color: yellow;
  font-weight: 600;
  text-decoration: none;
}

.moveToCards:hover,
.moveToCards:focus {
  color: magenta;
}

.card {
  width: 230px;
  color: red;
  font-size: 20px;
  font-weight: 600;
  background-color: greenyellow;
  border-radius: 10px;
  position: absolute;
  animation-name: place;
  animation-duration: 4000ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  padding-left: var(--default-interval);
  padding-right: var(--default-interval);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes place {
  0% {
    top: -100%;
    left: -100%;
  }

  20% {
    top: 50%;
    left: 50%;
    box-shadow: 15px 15px 15px red, -15px 15px 15px red, -15px -15px 15px red,
      15px -15px 15px red;
    transform: translate(-50%, -50%);
  }

  80% {
    top: 50%;
    left: 50%;
    box-shadow: 15px 15px 15px red, -15px 15px 15px red, -15px -15px 15px red,
      15px -15px 15px red;
    transform: translate(-50%, -50%);
  }

  100% {
    top: -100%;
    left: 200%;
  }
}
